@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .grid-1 {
        @apply row-span-2 md:col-span-3 h-full relative overflow-hidden hover:-translate-y-1 duration-200;
    }

    .grid-2 {
        @apply row-span-1 md:col-span-3 h-full relative overflow-hidden hover:-translate-y-1 duration-200;
    }

    .grid-3 {
        @apply row-span-1 md:col-span-3 h-full relative overflow-hidden hover:-translate-y-1 duration-200;
    }

    .grid-4 {
        @apply row-span-1 md:col-span-2 h-full relative overflow-hidden hover:-translate-y-1 duration-200;
    }

    .grid-5 {
        @apply row-span-1 md:col-span-4 h-full relative overflow-hidden hover:-translate-y-1 duration-200;
    }

    .grid-default-color {
        @apply p-6 bg-gradient-to-b from-storm to-indigo-500 rounded-2xl;
    }

    .grid-special-color {
        @apply p-6 bg-gradient-to-b from-royal to-lavender rounded-2xl;
    }

    .grid-black-color {
        @apply p-6 bg-gradient-to-tl from-[#3A3A3A] via-[#242424] to-[#3A3A3A] rounded-2xl;
    }

        .c-space {
    @apply sm:px-10 px-5 lg:px-16;
}

    .hover-animation {
        @apply hover:-translate-y-1 duration-200;
    }

    .section-spacing {
        @apply min-h-screen mt-20 md:mt-24;
    }

    .text-heading {
        @apply font-bold text-3xl md:text-4xl;
    }

    .headtext {
        @apply mt-2 mb-2 text-xl;
    }

    .subtext {
        @apply text-neutral-400 text-sm md:text-base;
    }

}